name: Deploy Build

on:
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: Select the environment to deploy to
        required: true

concurrency:
  group: deploy-${{ inputs.environment }}

jobs:
  deploy:
    name: Deploy to Server
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
    permissions:
      contents: read
      packages: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker CLI
        uses: actions-hub/docker/cli@master
        env:
          SKIP_LOGIN: true

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
        shell: bash

      - name: Create Docker context
        run: |
          docker context create server --docker "host=ssh://${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }}"

      - name: Write .env file
        run: |
          cat << EOF >> .env.deployment
          ${{ secrets.ENV_FILE_CONTENTS }}
          EOF

      - name: Perform Docker Composer deployment
        run: |
            docker --context server compose --file docker-compose.yml --project-name ${{ inputs.environment }} up --detach --remove-orphans
